ion-title{
    text-align: center;
}
ion-content{
    --ion-background-color:#8186d5;
}
ion-grid{
    align-self: center;
    width: 75%;
    height: 100%;
    --ion-background-color:#c6cbef;
}
ion-toolbar{
    background-color: 494ca2;
}