<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Critical Question</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-item>
    <ion-title text-center>Boardrooms</ion-title>
  </ion-item>
    </ion-toolbar>
  <ion-list>
    <ion-item detail
      *ngFor="let boardroom of boardrooms.boardrooms; let i = index"
      [routerLink]="['./', boardroom._id]"
    >
    {{ boardroom.title }}  
    </ion-item>
  </ion-list>
</ion-content>
