<ion-header>
    <ion-toolbar color="primary">

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Create Poll</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

    <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Boardroom Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleBoardRoomName(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Boardroom Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleBoardroomPw(event)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Create Boardroom</ion-button>
        </div>
      </form>

</ion-content>