<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboarda"></ion-back-button>
    </ion-buttons>

    <ion-title>{{boardrooms.boardroom?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button type="button" label="Click" (click)="createPollShow()" color= "success"> Create Poll</ion-button>

  <div>
    <app-create-poll [showMePartially]="show"></app-create-poll>
  </div>

  <ion-list>
    <ion-item detail
      *ngFor="let polls of boardrooms.polls"
      [routerLink]="['./', polls._id]"
    >
    <div align-items-start> <p>{{polls.question}}</p>  </div>
    <div class="ion-text-end"> <p>Status: {{polls.status}}</p>  </div>
    </ion-item>
  </ion-list>
</ion-content>
