.roundedInput {
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 50px;
    --border-width: 1px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    --background: #eeeeee;
    padding-bottom: 15px;
    
    
   }

.form{
    width:70%;
}

.loginButton{
    display: flex;
  align-items: center;
  justify-content: center;
    width:100%;
}