
<ion-content>
  <ion-grid style="width:70%;"> 
<!-- Header content -->
  <ion-row class="ion-text-center">
      <ion-col size="12">
          <img class="title-image" src="../../assets/lock.svg" width="100px" height="100px" />
      </ion-col>
      <ion-col>
        <ion-title>
          <div class="ion-text-center">Login</div>
        </ion-title>
      </ion-col>
    </ion-row>
<!-- Input form row -->
  <ion-row >
    <ion-col size="12"> 
        <ion-col><ion-text>Email</ion-text></ion-col>
          <ion-item class = inputStyle>
          <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="credentials.email" ></ion-input>
         </ion-item>
      </ion-col>
    
    <ion-col size="12" >
        <ion-col><ion-text class="ion-text-left">Password</ion-text></ion-col>
        <ion-item class = inputStyle>
            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="credentials.pw" ></ion-input>
        </ion-item>
    </ion-col>
  </ion-row>
<!-- Button row -->
  <ion-row>
      <div class = "loginButton" >
          <ion-button (click)="login()" expand="block" color="primary" class = "button" >Login</ion-button>
      </div>
  </ion-row>
  </ion-grid>
</ion-content>